<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Add Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="head">
    <img src="assets/icon/favicon.png" alt="">
  </div>
  <div><h1>Add Restaurant</h1></div>
<div class="detail ion-padding">
 <form action="" [formGroup]="form">
  <ion-item >
    <ion-label position="floating">Restaurant Name</ion-label>

    <ion-input [(ngModel)]="resturantname" formControlName="rname" placeholder="enter name"></ion-input>

  </ion-item>
  <label style="color: red;margin-left: 40px;margin-top: 4px ;display: block;margin-right: 40px"
   *ngIf="form.get('rname').hasError('pattern') || form.get('rname').hasError('minlength') ||
   form.get('rname').hasError('maxlength') && rname.touched
   ">
  Invalid Name
  </label>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input [(ngModel)]="address" formControlName="raddress" placeholder="enter address"></ion-input>

  </ion-item>
  <label style="color: red;margin-left: 40px;margin-top: 4px;display: block;margin-right: 40px"
   *ngIf="form.get('raddress').hasError('minlength') || form.get('raddress').hasError('maxlength')
   && rname.touched">
    Invalid Address
  </label>
  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input [(ngModel)]="phone" formControlName="rphone" placeholder="enter phone number"></ion-input>

  </ion-item>
  <label style="color: red;margin-left: 40px;margin-top: 4px;display: block;margin-right: 20px"
   *ngIf="form.get('rphone').hasError('pattern')
 ||form.get('rphone').hasError('minlength') ||
 form.get('rphone').hasError('maxlength') && rname.touched">
  Invalid Phone Number (1002003000)
</label>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="description" formControlName="rdesc" placeholder="enter description"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Tags</ion-label>
   <ion-input [(ngModel)]="tag" formControlName="rtag" placeholder="enter tags"></ion-input>
  </ion-item>
  <label style="color: red;margin-left: 40px;margin-top: 4px;display: block;margin-right: 40px"
  *ngIf="form.get('rtag').hasError('minlength')
  ||form.get('rtag').hasError('maxlength') ||
  form.get('rtag').hasError('pattern') && rname.touched">
    Invalid Tag
  </label>
 </form>

  <div id="buttons">
    <ion-button [disabled]="form.invalid" (click)="addresturant()">Add Restaurant</ion-button>

  </div>

</div>
</ion-content>
