<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="head">
    <img src="assets/icon/favicon.png" alt="">
  </div>
  <div><h1>Edit Restaurant</h1></div>
<div class="detail ion-padding">
  <ion-item>
    <ion-label position="floating">Name</ion-label>

    <ion-input [(ngModel)]="resturantname" [value]="name2"  placeholder="enter name"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input [(ngModel)]="address" [value]="address2"  placeholder="enter address"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input [(ngModel)]="phone" [value]="phone2" placeholder="enter phone number"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="description" [value]="description2" placeholder="enter description"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Tag</ion-label>
   <ion-input [(ngModel)]="tag" [value]="tag2" placeholder="enter tags"></ion-input>
  </ion-item>

  <div id="buttons">
    <ion-button (click)="editResturant()">Update Restaurant</ion-button>

  </div>

</div>
</ion-content>
